* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body, button, input {
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.app #app-timer {
    font-size: 14rem;
    font-weight: 400;
    color: #96BDC6;
}

.app-controls {
    padding: 2rem 0;
}

.app-controls .btn--primary {
    margin: 2rem 0;
}

.btn--primary {
    border: none;
    font-size: 2rem;
    padding: 2rem 3rem;
    border-radius: 5rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #E8CCBF;
    color: #8C7B73;
}